<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h2>Our Team</h2>
            <div class="team-members">
                <img src="../img/teganbunsuashby.jpg" class="profile" alt="Tegan Bunsu Ashby">
                <h5>Tegan Bunsu Ashby</h5>
                <p>Front-End Developer</p>
            </div>
            <div class="team-members">
                <img src="../img/profile-placeholder.jpg" class="profile" alt="Joseph Bucher">
                <h5>Joseph Bucher</h5>
                <p>Back-End Developer</p>
            </div>
            <div class="team-members">
                <img src="../img/profile-placeholder.jpg" class="profile" alt="Jeff Stomel">
                <h5>Jeff Stomel</h5>
                <p>Back-End Developer</p>
            </div>
        </div>
    </div>
</div>