<div class="footer">
    <div id="masthead">
        <h2>sadhana</h2>
        <p>Made with
            <i class="fas fa-heart"></i> by
            <a href="https://github.com/bunsushi" target="_blank">@bunsushi</a>,
            <a href="https://github.com/Joseph526" target="_blank">@Joseph526</a>, and
            <a href="https://github.com/jstomel" target="_blank">@jstomel</a>
        </p>
        <a href="https://github.com/bunsushi/sadhana" target="_blank">
            <div class="icon icon-footer">
                <i class="fab fa-github"></i>
            </div>
        </a>
    </div>
</div>