<div class="footer">
    <div id="masthead">
        <h2>sadhana</h2>
        <p>Made with
            <i class="fas fa-heart"></i> in Philadelphia
        </p>
        <a href="https://github.com/bunsushi/sadhana" target="_blank">
            <div class="icon icon-footer">
                <i class="fab fa-github"></i>
            </div>
        </a>
    </div>
</div>