<div class="row">
    <div class="col-lg-12">
        <h2 id="this-month-and-year"></h2>
        <div id="sadha-squares"></div>
    </div>
</div>

{{!-- Replace 19 w/dynamic handlebars number from DB --}} {{!-- Replace May w/current month from DB or Moment --}}
{{!-- <h4>19
    <span>
        <img src="../img/lotus.svg" id="lotus">
    </span>
    <em>sadhas</em> for <span id="this-month"></span></h4> --}}