<div class="row">
    <div class="col-lg-12">
        <div id="sadha-squares"></div>
    </div>
</div>

{{!-- Replace 19 w/dynamic handlebars number from DB --}} {{!-- Replace May w/current month from DB or Moment --}}
<h2>19
    <span>
        <img src="../img/lotus.svg" id="lotus">
    </span>
    <em>sadhas</em> for May</h2>