<div class="vertical">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>This is a short description of how our app works!</h1>
                <h2>Wouldn't it be great if there was a video?</h2>
            </div>
        </div>
    </div>
</div>