<div class="vertical">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>Sadhana is a personal productivity application for making goals into habits and keeping track of daily tasks.</h1>
                <h4>Sadhana encourages you to work towards goals by automatically generating habit goals as tasks on the days you want and creates a responsive visual record of your progress at the top of the page.</h4>
            </div>
        </div>
    </div>
</div>