<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    {{!-- Bootstrap 4.0 --}}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    {{!-- Google Fonts --}}
    <link href="https://fonts.googleapis.com/css?family=Muli:300,400,800" rel="stylesheet">
    {{!-- Font Awesome --}}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    {{!-- Custom CSS --}}
    <link rel="stylesheet" href="/css/style.css" type="text/css" />
    {{!-- Make this the username --}}
    <title>Tegan's sadhana</title>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script> 
    {{!-- Custom JavaScript --}}
    <script src="/js/sadhana.js"></script>
    {{!-- Moment.js --}}
    <script src="https://cdn.jsdelivr.net/momentjs/2.12.0/moment.min.js"></script>

</head>

<body>
    <script type="text/javascript">
        // Query DB for user info save into sessionStorage
        var userEmail = sessionStorage.getItem("email");
        $.get("/api/user/" + userEmail, function(data) {
            // Store all content into sessionStorage
            sessionStorage.setItem("firstname", data.firstname);
            sessionStorage.setItem("lastname", data.lastname);
            sessionStorage.setItem("id", data.id);
        }).then(function(result) {
            // Grab the user's name for use on the DOM
            var userName = sessionStorage.getItem("firstname");
            // Set the document title with user's name
            document.title = userName + "'s sadhana";
            // Set the navbar with user's name
            $("#userName").text(sessionStorage.getItem("firstname"));
        });
    </script>

    {{{ body }}}

</body>

</html>