    <div class="dashboard">
        <div class="container-fluid">
            <div class="row">
                <nav class="col-lg-1 sidebar">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <img src="/img/lotus.svg" id="lotus-logo" alt="Lotus by Callum Taylor from the Noun Project" /> sadhana
                        </li>
                        <li class="nav-item">
                            {{!--
                            <a class="nav-link" href="#">Habit</a> --}}
                            <div class="icon">
                                <i class="fas fa-plus"></i>
                            </div>
                        </li>
                        <li class="nav-item">
                            {{!--
                            <a class="nav-link" href="#">Habit</a> --}}
                            <div class="icon">
                                <i class="far fa-clock"></i>
                            </div>
                        </li>
                    </ul>
                </nav>
                <main class="col-lg-11 feed">
                    <div class="main"
                    <h1>You found the dashboard page</h1>
                </main>
            </div>
        </div>

    </div>

    {{> footer}}