{{> navbar}}

<div class="sadhana-welcome">
    <div class="vertical">
        <div class="row">
            <div class="col-lg-6">
                <h1 id="tag-line">hello, world</h1>
                {{!--
                <h1 id="tag-line-sub">try me</h1> --}}
                <h2 id="tag-line-text">Practice, achieve
                </h2>
            </div>
            <div class="offset-lg-1 col-lg-5">
                <form id="signup" name="signup" method="POST" action="/signup">
                    <div class="form-group">
                        <h2>Sign Up For Free</h2>
                        <label for="firstname">First Name</label>
                        <input type="text" id="firstname" name="firstname" placeholder="Firstname">
                        <label for="lastname">Last Name</label>
                        <input type="text" id="lastname" name="lastname" placeholder="Lastname">
                        <label for="email">Email</label>
                        <input type="email" id="email" name="email" placeholder="Email Address">
                        <label for="password">Create a Password</label>
                        <input type="password" id="password" name="password" placeholder="Password"> {{!-- Button associated with AJAX POST method --}} {{!--
                        <button type="submit" id="sign-up">
                            <i class="fas fa-arrow-right"></i>

                        </button> --}} {{!-- Button for HTTP POST method --}}
                        <input class="btn" type="submit" id="sign-up" value="Sign Up" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<section>
    <div class="tour" id="tour">
        {{> tour}}
    </div>
</section>

<section>
    <div class="about" id="about">
        {{> about}}
    </div>
</section>

{{> footer}}