<div class="sadhana-welcome">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="#">sadhana</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/tour">How It Works</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">Our Story</a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        {{!-- This should actually be a pop-up modal --}}
                        <a class="nav-link" href="/dashboard">Log In
                            <div class="icon">
                                <i class="fas fa-user"></i>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="vertical">
        <div class="row">
            <div class="offset-lg-1 col-lg-5">
                <h1 id="tag-line">hello, world</h1>
                {{!--
                <h1 id="tag-line-sub">try me</h1> --}}
                <h2 id="tag-line-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer at mauris eu elit porttitor sodales ac sed
                    nisl.
                </h2>
            </div>
            <div class="offset-lg-1 col-lg-5">
                <form>
                    <div class="form-group">
                        <h2>Sign Up For Free</h2>
                        <label for="username">Username</label>
                        <br>
                        <input type="text" id="username" name="username">
                        <br>
                        <label for="password">Password</label>
                        <br>
                        <input type="text" id="password" name="password">
                        <button type="submit" id="log-in">
                            <i class="fas fa-arrow-right"></i>

                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="footer">
    <div id="masthead">
        <h2>sadhana</h2>
        <i class="fab fa-github"></i>
    </div>
</div>