body {
    color: #072892;
    font-family: 'Muli', 'sans-serif';
    background-color: #dfdcd3;
}

/* Navigation */
#lotus {
    max-width: 80px;
    margin-right: 10px;
}

.navbar-light .navbar-brand {
    font-weight: bold;
    color: #072892;
}

.navbar-light .navbar-nav .nav-link {
    color: #072892;
    font-weight: bold;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #0C44F8;
}

.nav-link {
    display: inline-block;
    padding: 0;
}

/* Welcome Page */
.sadhana-welcome {
    height: 95vh;
    background-color: rgba(0,0,0,.1);
    display: block;
    position: relative;
}

.sadhana-welcome::after {
    content: "";
    background-image: url('../img/blue-pink.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

.sadhana-welcome::before {
    content: "";
    position: absolute;
    display: block;
    bottom: -46px;
    border: 24px solid transparent;
    border-top-color: #dfdcd3;
    width: 24px;
    height: 24px;
    left: 50%;
    margin-left: -24px;
    z-index: 1;
}

.vertical {
    top: 65%;
    transform: translateY(-65%);
    position: absolute;
    margin: auto 8vw;
    width: 84vw;
}

#tag-line {
    font-size: 78px;
    font-weight: bold;
    color: #fff;
}

#tag-line-sub {
    font-size: 54px;
    font-weight: bold;
    color: #072892;
}

#tag-line-text {
    color: #fff;
    font-weight: 300;
}

/* Sign Up Form */
.sadhana-welcome form, .sign-in form {
    background-color: rgba(255, 255, 255, .9);
    padding: 50px;
    border-radius: 2px;
}

.sadhana-welcome form h2 {
    text-align: center;
    margin-bottom: 30px;
}

.sadhana-welcome form button {
    display: block;
    margin: 0 auto;
}

input[type=text], input[type=password], input[type=email] {
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    transition: all 0.30s ease-in-out;
    outline: none;
    width: 100%;
    padding: 5px 0px 5px 5px;
    margin: 2px 1px 10px 0px;
    border: 1px solid #072892;
    background-color: transparent;
}

input[type=text]:focus, input[type=password]:focus, input[type=email]:focus {
    box-shadow: 0 0 5px rgba(12, 68, 248, 1);
    border: 1px solid rgba(12, 68, 248, 1);
}
   

.icon {
    display: inline-block;
    text-align: center;
    font-size: 22px;
    padding: 6px;
    position: relative;
    margin-left: 10px;
}

#log-in {
    /* margin-top: 20px; */
    display: block;
    margin: 0 auto;
}

#log-in, .icon {
    background-color: transparent;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 2px solid #072892;
    color: #072892;
}

#log-in:hover {
    cursor: pointer;
}

/* Tour */
.tour {
    height: 80vh;
    background-color: #072892;
    color: #fff;
    position: relative;
}

.tour::after {
    content: "";
    position: absolute;
    display: block;
    bottom: -46px;
    border: 24px solid transparent;
    border-top-color: #072892;
    width: 24px;
    height: 24px;
    left: 50%;
    margin-left: -24px;
    z-index: 1;
}

/* About */
.about {
    max-height: 80vh;
    background-color: #f8f9fa;
    position: relative;
    text-align: center;
    display: block;
    padding: 100px 0;
}

.about::after {
    content: "";
    position: absolute;
    display: block;
    bottom: -46px;
    border: 24px solid transparent;
    border-top-color: #f8f9fa;
    width: 24px;
    height: 24px;
    left: 50%;
    margin-left: -24px;
    z-index: 1;
}

.profile {
    max-width: 200px;
    border-radius: 50%;
    margin: 20px;
}

.team-members {
    display: inline-block;
}

/* Footer */
.footer {
    height: 40vh;
    background-color: #072892;
    position: relative;
}

.footer h2 {
    font-weight: bold;
}

.icon-footer {
    color: #fff;
    border-color: #fff;
}

#masthead {
    color: #fff;
    text-align: center;
    padding-top: 120px;
}

/* Log In Page */
.sign-in {
    height: 100vh;
    display: block;
    position: relative;
}

#forgot-pw {
    text-align: right;
}

#new-user {
    text-align: center;
    padding-top: 20px;
    margin-bottom: -20px;
}

/* Dashboard Page */
.dashboard {
    min-height: 100vh;
    background-color: rgba(0,0,0,.2);
    display: block;
    position: relative;
}

.dashboard::after {
    content: "";
    background-image: url('../img/blue-pink.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

.user-navbar {
    border-bottom: 1px solid #fff;
    margin-bottom: 20px;
    font-weight: bold;
}

.user-navbar::after {
    content: "";
    clear: both;
    display: inline-block;
}

a {
    color: #fff;
}

.user-navbar input[type=search] {
    border: none;
    width: 500px;
    padding: 5px 0px 5px 5px;
    margin: 2px 1px 10px 0px;
    background-color: rgba(255, 255, 255, .5);
}

input[type=search]:focus {
    background-color: rgba(255, 255, 255, .9);
    box-shadow: 0 0 5px rgba(255, 255, 255, 1);
    border: 1px solid rgba(255, 255, 255, 1);
}

/* Sidebar */
.sidebar {
    background-color: #021245;
    min-height: 100vh;
    padding-top: 20px;
    text-align: center;
}

.sidebar .icon {
    color: #fff;
    font-weight: bold;
    border-color: #fff;
}

.sidebar .icon:hover {
    cursor: pointer;
    background-color: #fff;
    color: #021245;
}

.sidebar .nav-item {
    margin-bottom: 20px;
}

.dropdown-item {
    color: #333;
}

#lotus-logo {
    display: block;
    margin: 0 auto;
    max-width: 80px;
}

/* Feed */

.main {
    background-color: rgba(255, 255, 255, .95);
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 15px;
}

.main h2, h4 {
    text-align: center;
}

/* Sadha Squares */

#sadha-squares {
    text-align: center;
}

.habit {
    display: block;
}

.habit p {
    text-align: left;
    display: inline-block;
    width: 150px;
    margin-bottom: 0;
}

.square {
    height: 15px;
    width: 15px;
    background-color: #dfdcd3;
    margin-right: 5px;
    display: inline-block;
}

.commit-square {
    background-color: #072892;
}

/* To Do */
.task-container {
    display: inline;
}

.task-container li {
    background-color: rgba(223, 220, 211, .3);
    border-radius: 20px;
    padding: 5px;
    list-style-type: none;
    margin-bottom: 10px;
}

.task-container .btn, .completed-task-container .btn {
    border-radius: 50%;
    margin-right: 5px;
    background-color: #dfdcd3;
    color: #fff;
    height: 40px;
    width: 40px;
}

.task-container h5, .completed-task-container h5 {
    display: inline;
}

.completed-task-container li {
    background-color: rgba(223, 220, 211, .3);
    text-decoration: line-through;
    border-radius: 20px;
    padding: 5px;
    list-style-type: none;
    margin-bottom: 10px;
}